<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container custom-header" onclick="location.href = 'http://www.ucr.ac.cr';" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav">
					<li style='position:absolute; left: 415px; top:4px' >@Html.ActionLink("Inicio", "Index", "Home")
                    <li style='position:absolute; left: 515px; top:4px' >@Html.ActionLink("Estudiantes", "Create", "Estudiante")
                        <ul>
							<li>@Html.ActionLink("Crear", "Create", "Estudiante")</li>
							<li>@Html.ActionLink("Mantenimiento", "Index","Estudiante" )</li>
						</ul>
                    </li>
                    <li style='position:absolute; left: 650px; top:4px'>@Html.ActionLink("Cursos", "Create", "Cursos")
						<ul>
							<li>@Html.ActionLink("Crear", "Create", "Cursos")</li>
							<li>@Html.ActionLink("Consultar","Index", "Cursos")</li>
                         
						</ul>
					</li>	
                    <li style='position:absolute; right: 320px; top:4px'>@Html.ActionLink("Registrase", "Registro", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li  style='position:absolute; right: 200px; top:4px'>@Html.ActionLink("Iniciar Sesion", "Logeo", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bryan, Fernanda, Miguel, Josseline, Jordy.
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
