@model examenII_Lenguajes.tbEstudiante

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar al Estudiante?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.idEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carnet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color custom-footer-link">
            <input type="submit" value="Aceptar" class="btn btn-default custom-btn" />
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
